body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-actions button {
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition: 0.3s;
}

button.switch {
  color: #fff;
  background-color: #044389;
  border: 1px solid #044389;
}

.btn {
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition: 0.3s;
}

.btn-blue {
  color: #fff;
  background-color: #044389;
  border: 1px solid #044389;
}

.btn-green {
  color: #fff;
  background-color: #43c17a;
  border: 1px solid #43c17a;
}

.btn-red {
  color: #fff;
  background-color: #f75c03;
  border: 1px solid #f75c03;
}

.auth-form {
  max-width: 80%;
  width: 25rem;
  margin: 5rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
  background-color: #fff;
  color: #000;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.form-control textarea {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
